@import "../../style.scss";

.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  @include mobile {
    height: 100vh;
    overflow-y: scroll;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 68%;
    @include mobile {
      width: 90%;
    }
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    min-height: 40vh;
    overflow: hidden;

    @include mobile {
      margin: 30px 0;
      flex-direction: column;
      overflow-y: scroll;
    }

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url(https://images.pexels.com/photos/1655329/pexels-photo-1655329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 10vh;
        line-height: 10vh;
      }
      p {
        font-size: 14px;
      }
      span {
        font-size: auto;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
      @include mobile {
        flex: 0.5;
        padding: 30px;

        h1 {
          font-size: 7vh;
          line-height: 5vh;
        }
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      width: 400px;
      @include mobile {
        gap: 30px;
        width: 350px;
      }

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @include mobile {
          gap: 30px;
        }
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          outline: none;
          @include mobile {
            padding: 10px 5px;
          }
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
