.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 40vh;
    overflow: hidden;
    flex-direction: row-reverse;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url(https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 10vh;
        line-height: 10vh;
      }
      p {
        font-size: 14px;
      }
      span {
        font-weight: 500;
        margin-bottom: -10px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        border-radius: 2px;
      }
    }
    .right {
      flex: 1.3;
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 15px 10px;
          outline: none;
        }
        button {
          margin-top: 20px;
          border-radius: 2px;
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
